a {
	color: rgb(223,223,223);
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	text-decoration: underline;
}
.center {
	text-align: center;
}
button {
	padding: 1em;
	background-color: gray;
	border: 1px solid yellow;
}
.yellow {
	color: yellow;
}
p {
	font-size: 1.2em;
}
.menuContainer {
	width: 100%;
}
.menu {
		margin: 1em .15em 1em .15em;
	padding: .25em;
	width: 40%;
	display: inline-block;
}
#idfCodes {
	background-color: #983A91;
	/*border-bottom: 1px dotted white;*/
}
#idfQuiz {
	background-color: #2C5CAB;
	/*border-bottom: 1px dotted white;*/
}
#disp {
	background-color: brown;
	/*border-bottom: 1px dotted white;*/
}
#dispQuiz {
	background-color: #d88c00;
	/*border-bottom: 1px dotted white;*/
}
#phonetic {
	background-color: #260E4C;
	/*border-bottom: 1px dotted white;*/
}
#phoneticQuiz {
	background-color: #1E9696;
	/*border-bottom: 1px dotted white;*/
}


/*mobile query starts here*/
/*width was 320-480*/
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
     	background-color: black;
     	color: rgb(223,223,223);
    }
    hr {
    	border: 1px solid gray;
    }
    #idfCodes{ height: 100px; }
    #idfQuiz { height: 100px; }
    #disp { height: 100px; }
    #dispQuiz{ height: 100px; }
    #phonetic { height: 100px; }
    #phoneticQuiz { height: 100px; }

}/*closes mobile query*/
/****************************************************************************************************/
/*tablet query starts here*/
/*width was 768-1024*/
@media only screen and (min-device-width: 701px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	body {
		background-color: black;
		color: rgb(223,223,223);
	}
	hr {
		border: 1px solid gray;
	}
	#idfCodes{}
    #idQuiz {}
    #disp {}
    #dispQuiz{}
    #phonetic {}
    #phoneticQuiz {}

}/*closes tablet query*/
/*****************************************************************************************************/
/*laptop query starts here*/
/*width was 1200-1600*/
@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 	

	body {
		background-color: black;
		color: rgb(223,223,223);
	}
	
	hr {
		border: 1px double gray;
	}
	#buttons {
		margin-top: 3em;
	}
	#quizP {
		letter-spacing: .25em;
	}
	#idfCodes{}
    #idQuiz {}
    #disp {}
    #dispQuiz{}
    #phonetic {}
    #phoneticQuiz {}

}/*closes laptop query*/
/************************************************************************************************/
/*large screen query starts here*/
/*width was 1824*/
@media only screen  and (min-width : 1601px) {
	body {
		background-color: black;
		color: rgb(223,223,223);
	}
	hr {
		border: 1px solid gray;
	}
	#idfCodes{}
    #idQuiz {}
    #disp {}
    #dispQuiz{}
    #phonetic {}
    #phoneticQuiz {}


}/*closes large screen query*/	